section{
    height: 300px;
    background: black;
}
.logo1{
    width: 300px;
    display: block;
    margin: auto;
    filter: invert(1);
    background: black;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 2px double black;
    border-collapse: separate;
    
}